:root {
  --ninja-red: #c2002f;
  --ninja-grey: #231f21;
}

textarea {
  resize: none;
}

.featured-products {

  border-top: 1px solid black;

}

.linked-platforms {
  
  border-top: 1px solid black;

}

.dark-btn {
  background: #000;
  color: white;
  border: 1px solid black;

  @apply py-2 pl-3 pr-5 rounded-full w-fit;
}


.dark-btn:hover {
  background: white;
  color: black;
}

.dark-btn-norm {
  background: #000;
  color: white;
  border: 1px solid black;
  @apply py-2 px-7 rounded-full w-fit;
}


.dark-btn-norm:hover {
  background: white;
  color: black;
}

.dark-broadcast-btn {
  background: #000;
  color: white;
  border: 1px solid black;
  @apply py-2 px-4 rounded-full w-fit;
}

.dark-broadcast-btn:hover {
  background: white;
  color: black;
}

.dark-broadcast-stop-btn {
  background: #000;
  color: white;
  border: 1px solid black;
  @apply py-1 pl-1 pr-3 rounded-md w-fit;
}

.dark-broadcast-stop-btn:hover {
  background: #D40000;
  border: 1px solid #D40000;
}

.payment-methods {
  min-width: 600px;
  height: 200px;
  padding: 2rem;
  margin: auto
}

.acc-details {
  min-width: 600px;
  padding: 2rem;
  margin: auto
}

.login-logo {
  @apply w-[38px] h-[38px] cursor-pointer;
}

.login-container {
  min-width: 480px;
  margin: auto;
}

.username-login-container {
  border-top: 1px solid black;
  padding-top: 1.5rem;
}

.comments-sect {
  border: 1px solid black;
}

.page-heading {
  @apply text-3xl tracking-widest font-semibold;
}

.list-table {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.live-icon {
  background-color: #D40000;
}


.comment-line {
  align-items: top;
}

.colored-bg {
  background-color: #EFF2F8;
}

.items-square {
  background-color: #EFF2F8;
}